html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  max-width: 1126px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1126px;
  margin: 0 auto;
  flex-wrap: wrap;
}

header .logo {
  margin: 38px 5px 38px 0;
}

header .div-nav {
  margin-right: 50px;
}

header .div-nav>a {
  margin-right: 15px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

header .btn-sign button {
  width: 110px;
  height: 46px;
}

header .btn-sign .btn-in-nav {
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-right: 10px;
}

header .btn-sign .btn-in-nav a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
}

header .btn-sign .btn-up-nav {
  background-color: #ffa908;
  border: 0px;
  border-radius: 5px;
}

header .btn-sign .btn-up-nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 874px) {
  header .div-nav {
    margin-right: 0px;
  }
  header .btn-sign button {
    width: 80px;
    height: 35px;
  }
}

@media (max-width: 750px) {
  header .logo {
    margin: 38px 5px 10px 0;
  }
}

@media (max-width: 559px) {
  header .btn-sign {
    padding-top: 10px;
  }
  header .btn-sign button {
    width: 70px;
    height: 30px;
  }
  header .btn-sign .btn-in-nav a {
    font-size: 13px;
  }
  header .btn-sign .btn-up-nav a {
    font-size: 13px;
  }
  /* header .div-nav {
    display: none;
  }
  #menu__toggle {
    right: 10px;
  }
  .burger {
    position: relative;
    background-color: #000;
    opacity: 0.8;
    text-align: center;
    width: 320px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .burger-line {
    width: 30px;
    height: 2px;
    top: 8px;
    right: 10px;
    background-color: #fff;
    position: absolute;
  }
  .second, .third {
    top: 18px;
  }
  .fourth {
    top: 28px;
  }
  .main-menu {
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .main-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 4;
    width: 100%;
  }
  .menu__toggle:checked~.main-menu {
    max-height: 500px;
    font-size: 20px;
  } */
}

div {
  display: inline-block;
}

main {
  width: 100%;
  padding-top: 30px;
  margin: 0 auto;
}

main .sect-one {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

main section .text1 {
  width: 48%;
}

main section .text1 h1 {
  font-size: 44px;
  line-height: 54px;
  color: #2f281e;
  font-weight: 700;
  padding-top: 67px;
}

main section .text1 p {
  margin: 40px 0 60px;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
  font-weight: 400;
}

main .sect-one .picture1 {
  width: 48%;
}

main .sect-one .picture1 img {
  width: 100%;
}

main section .getstarted {
  background-color: #ffa908;
  border: 0px;
  border-radius: 5px;
  width: 175px;
  height: 53px;
}

main section .getstarted a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

main section .triangle {
  margin-left: 30px;
  margin-bottom: -6px;
}

main section .watch {
  color: #ffa908;
  font-size: 15px;
  margin-left: 3px;
}

@media (max-width: 810px) {
  main section .getstarted {
    width: 150px;
    height: 35px;
    display: block;
    margin-bottom: 15px;
  }
  main section .triangle {
    margin-left: 0px;
    margin-bottom: -6px;
  }
}

@media (max-width: 763px) {
  main .sect-one {
    flex-direction: column;
  }
  main .sect-one .picture1 {
    width: 100%;
    padding-top: 30px;
  }
  main section .text1 {
    width: 100%;
    text-align: center;
  }
}

.sect-icons {
  width: 100%;
  text-align: center;
  padding-top: 97px;
}

.sect-icons .title2sect {
  margin: 45px auto;
  line-height: 56px;
  width: 50%;
  font-size: 36px;
  color: #2f281e;
  font-weight: 700;
}

.sect-icons .icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.sect-icons .icon-block h3 {
  font-size: 22px;
  font-weight: 700;
  padding: 30px 0 25px;
}

.sect-icons .icon-block p {
  height: 82px;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  font-weight: 500;
}

.sect-icons .icon-block>div {
  text-align: left;
  margin: 10px;
  width: 25%;
  display: block;
  min-width: 200px;
  max-width: 240px;
  max-height: 175px;
  margin-bottom: 50px;
}

.sect-icons .but-up-nov {
  display: block;
  background-color: #ffa908;
  border: 0px;
  border-radius: 5px;
  width: 175px;
  height: 53px;
  margin: 0 auto;
  margin-top: 63px;
}

.sect-icons .but-up-nov a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

@media (max-width: 763px) {
  .sect-icons .but-up-nov {
    width: 150px;
    height: 35px;
  }
  .sect-icons .title2sect {
    margin: 0px auto;
    width: 100%;
    line-height: 46px;
    font-size: 30px;
    padding-bottom: 30px;
  }
}

.sect-design-prof {
  font-size: 18px;
  line-height: 24px;
  padding: 136px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sect-design-prof>div {
  width: 48%;
}

.sect-design-prof h2 {
  font-size: 36px;
  color: #2f281e;
  font-weight: 700;
  padding: 13px 0 34px;
}

.sect-design-prof p {
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  font-weight: 500;
}

.sect-design-prof .subtitle {
  font-weight: 700;
  padding: 34px 0 13px;
}

.sect-design-prof .boy-svg3 {
  width: 100%;
}

@media (max-width: 843px) {
  .sect-design-prof {
    flex-direction: column;
  }
  .sect-design-prof>div {
    width: 100%;
  }
  .sect-design-prof .sect-design-text {
    text-align: center;
    width: 100%;
  }
  .sect-design-prof .picture {
    padding-top: 30px;
    width: 80%;
  }
}

@media (max-width: 434px) {
  .sect-design-prof h2 {
    font-size: 36px;
    line-height: 39px;
  }
  .sect-design-prof {
    padding: 70px 0;
  }
}

.sect-product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sect-prod-manager-image {
  width: 48%;
}

.sect-product .prod-man-text {
  width: 48%;
}

.sect-product img {
  width: 100%;
}

.sect-product .prod-man-text {
  margin-left: 70px;
}

.sect-product .prod-man-text h2 {
  font-size: 36px;
  color: #2f281e;
  font-weight: 700;
  margin-top: -10px;
}

.sect-product .prod-man-text p {
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  font-weight: 500;
  margin: 24px 0;
}

.sect-product .prod-man-text aside {
  background-image: url(\icon\ \(4\).svg);
  background-repeat: no-repeat;
  background-position: left;
}

.sect-product .prod-man-text aside p {
  margin: 34px 56px;
}

@media (max-width: 843px) {
  .sect-product {
    flex-direction: column-reverse;
  }
  .sect-prod-manager-image {
    width: 80%;
  }
  .sect-product .prod-man-text {
    width: 100%;
  }
  .sect-product .prod-man-text aside p {
    margin: 10px 56px;
  }
  .sect-product .prod-man-text p {
    line-height: 34px;
  }
}

.sect-marketers {
  display: flex;
  align-items: center;
  padding-top: 133px;
}

.sect-marketers-text {
  width: 48%;
}

.sect-marketers-image {
  width: 48%;
}

.sect-marketers h2 {
  font-size: 36px;
  color: #2f281e;
  font-weight: 700;
  padding: 13px 0 34px;
}

.sect-marketers p {
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  font-weight: 500;
}

.sect-marketers .subtitle-marketers {
  font-weight: 700;
  padding: 34px 0 13px;
}

.sect-marketers img {
  width: 100%;
}

.sect-marketers div:nth-child(2) {
  margin-left: auto;
}

@media (max-width: 843px) {
  .sect-marketers {
    flex-direction: column;
  }
  .sect-marketers-text {
    width: 100%;
    text-align: center;
  }
  .sect-marketers-image {
    width: 80%;
    padding-top: 30px;
  }
  .sect-marketers div:nth-child(2) {
    margin-left: 0;
  }
}

.hr-line {
  max-width: 1126px;
  margin-top: 117px;
}

@media (max-width: 843px) {
  .hr-line {
    margin-top: 60px;
  }
}

footer {
  max-width: 1126px;
}

footer>.logo {
  display: block;
  padding-top: 102px;
}

footer .block {
  float: right;
  display: flex;
  padding: 40px 0px 83px;
}

footer .block .links1 {
  padding-right: 168px;
}

footer .block .links2 {
  padding-right: 79px;
}

footer .block li {
  list-style-type: none;
  margin: 20px 0;
}

footer .block li a {
  color: black;
  text-decoration: none;
}

[type="text"] {
  display: block;
  height: 43px;
  max-width: 325px;
  margin-top: 36px;
}

footer .block .button-end {
  background-color: #ffa908;
  border: 0px;
  border-radius: 4px;
  width: 131px;
  margin-top: 21px;
  height: 39px;
}

footer .block .button-end a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (max-width: 1162px) {
  footer .block {
    float: left;
    display: flex;
    padding: 40px 0 83px;
  }
}

@media (max-width: 843px) {
  footer>.logo {
    padding-top: 60px;
    text-align: center;
  }
  footer .block {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .block li {
    margin: 10px 0;
  }
  [type="text"] {
    display: block;
    height: 38px;
    max-width: 325px;
    margin-top: 3px;
  }
}

@media (max-width: 760px) {
  footer .block .links2 {
    padding-right: 10px;
  }
  footer .block .links1 {
    padding-right: 35px;
  }
}