html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #f9f9fb;  
}

header {
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

header .logo {
  font-size: 50px;
  line-height: 50px;
  color: #262626;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  text-decoration: none;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  z-index: 3;
}

header nav ul li {
  display: inline-block; 
}

header nav ul li:hover {
  border-top: 3px solid #ff5f33;
}

header nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  color: #262626;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

header, .freshlife-sect, span {
  position: relative;
}

.freshlife-sect {
  display: flex;
  align-items: center;
  z-index: 2;
  margin-top: -245px;
}

.freshlife-sect div h1 {
  font-size: 60px;
  line-height: 25px;
  color: #262626;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  padding-left: 50px;
}

.freshlife-sect div {
  z-index: 2;
  padding-left: 75px;
}

.freshlife-sect div p {
  width: 370px;
  height: 69px;
  font-size: 17px;
  line-height: 27px;
  color: #262626;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  padding: 50px;
}

.freshlife-sect div a {
  padding: 50px;
}

.freshlife-sect img {
  width: 100%;
  z-index: 1;
  margin-left: -570px;
}

.freshlife-sect div a button {
  background-color: #ff5f33;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  width: 200px;
  height: 55px;
  filter: drop-shadow(0px 2px 2.5px rgba(0,0,0,0.5));
  border: 0px ;
  font-family: "Raleway", sans-serif;
}

span {
  display: block;
  text-align: center;
  margin: -100px 0px 70px;
  z-index: 3;
}

.about-us-sect {
  height: 700px;
  background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #00a09f 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-us-sect div h1 {
  font-size: 90px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.about-us-sect div p {
  width: 500px;
  height: 120px;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.about-us-sect .text {
  padding-top: 50px;
}

